@import "rebook/apps/base/style/_variables";

.discountInfo {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.discountImage {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./images/discount.svg');
}

.restrictionText {
  margin-left: 8px;
  color: $color-text-base;
}
