@import "rebook/apps/base/style/_variables";

.contextPagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-light-grey;
  border-radius: 12px;

  .ellipsis {
    margin: 0 7px;
  }

  .pagesButtons {
    display: flex;
  }

  .pages {
    display: flex;
    overflow: hidden;
  }

  .firstPage {
    display: flex;
  }

  .lastPage {
    display: flex;
  }
}
