@import "rebook/apps/base/style/_variables";

.receipt {
  border-top: 2px solid $bg-input;

  &Link {
    display: block;
    text-align: center;
  }
}

.giftCode {
  display: inline-block;
  padding: 8px 16px;
  background: $bg-page-base;
  border-radius: 8px;
  color: $color-text-base;
  line-height: 1;
  transition: background-color 0.5s;

  &:global(.isCopied) {
    background-color: lighten($color-accept, 25%);
  }
}
